# Node & build outputs
node_modules
.next
/build
dist

# Git + OS cruft
.git
.gitignore
.DS_Store
.vscode
.env
npm-debug.log
yarn-error.log

# Docker files (optional)
Dockerfile*
docker-compose*.yml

# Other
coverage