name: Promote to Prod

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to promote"
        required: true

env:
  IMAGE_TAG: sha-${{ github.sha }}
  GITHUB_REPOSITORY: ${{ github.repository }}
  REGISTRY: ghcr.io

jobs:
  promote:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}
      
      - name: Setup Git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"          
      
      - name: Commit and push changes
        run: |
         cd prod-repo/app
         kustomize edit set image ${{ secrets.DOCKER_USERNAME }}/campaign:${{ github.event.inputs.image_tag }}
         git commit -m "Promote image tag ${{ github.event.inputs.image_tag }} to prod"
         git push
